@use "@/styles/vars";
@use "@/styles/color-themes";
@use "@/styles/utils";
@use "@/styles/responsive-breakpoints" as media;

.loader {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;

  &__svg {
    width: 12em;
    height: 12em;
  }
}
