@use "Styles/vars";
@use "Styles/color-themes";
@use "Styles/utils";
@use "Styles/responsive-breakpoints" as media;

.loader {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;

  &__svg {
    width: 12em;
    height: 12em;
  }

  &--modal {
    height: 500px;
  }
}
