@use "@/styles/vars";
@use "@/styles/color-themes";
@use "@/styles/utils";
@use "@/styles/responsive-breakpoints" as media;

.games {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 70px;
  padding: 2em 0;
  overflow: auto;

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    padding: 0.5em;
    margin-top: 2em;
    width: 100%;

    &__title {
      position: absolute;
      display: block;
      width: 100%;
      font-size: 1.5em;
      text-align: center;
      @include color-themes.themed() {
        color: color-themes.ask("secondary-text-color");
      }
    }

    &--scroll {
      width: 100%;
      height: 100%;
      overflow-y: scroll;
      display: flex;
      justify-content: center;
      position: relative;
      margin-bottom: 10em;
    }
    &__game {
      position: relative;
      display: flex;
      background-color: vars.$grey-blue;
      flex-basis: calc(calc(100% / 3) - 0.5em);
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.45);
      border-radius: 10px;
      border: 6px solid vars.$grey-blue;
      margin: 0.2em;

      &__img {
        width: 100%;
        height: 100%;
        border-radius: 0.3em;
        background-color: white;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.45) inset;
      }
      &--checked .games__list__game__img {
        opacity: 0.3;
      }
      &__overlay {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
        &--text {
          z-index: 1;
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          padding: 0.2em;
          color: vars.$off-white;
          text-align: center;
          font-weight: 600;
          pointer-events: none;
        }
        &--bg {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          opacity: 0.8;
          background-color: vars.$grey-blue;
        }
      }

      &:hover .games__list__game__overlay {
        opacity: 1;
        transition: opacity 0.2s ease-in-out;
      }

      &__dusting {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        transform: scale(1.3);
        &--dust7 {
          opacity: 0.5;
        }
        &--dust8 {
          opacity: 0.75;
        }
        &--dust9 {
          opacity: 0.9;
        }
      }
    }
  }

  &__side {
    z-index: 1;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 8.5em;
    transition: 0.2s ease-in-out;
    @include color-themes.themed() {
      background-color: color-themes.ask("secondary-color");
      border-top: 1px solid color-themes.ask("primary-color");
    }
    &__logo {
      display: none;
    }
    &__btns {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 1;
      transform: translateX(0);
      transition: 0.2s ease-in-out;
    }
    &__btn {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100px;
      border-radius: 0.5em;
      margin: 0 0.5em;
      @include color-themes.themed() {
        background-color: color-themes.ask("primary-color");
        color: color-themes.ask("secondary-color");
      }
      &__icon {
        width: 60px;
        height: 90px;
      }
      &__name {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 30px;
        background-color: vars.$red;
        color: vars.$off-white;
        font-size: 0.75em;
        border-bottom-left-radius: 0.5em;
        border-bottom-right-radius: 0.5em;
      }
    }

    &__filter {
      width: 350px;
      position: absolute;
      bottom: -500%;
      &__sorting__btn {
        cursor: pointer;
        &--active {
          background-color: vars.$red !important;
          transform: rotateZ(360deg) !important;
          transition: all 0.2s ease-in-out;
        }
        &--disable {
          pointer-events: none;
          @include color-themes.themed() {
            background-color: color-themes.ask(
              "transparent-primary-color"
            ) !important;
          }
        }
      }
    }

    &__filter__type__item {
      height: 2.5em;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &--time {
        background-color: vars.$red;
        border-radius: 2em;
        width: 2.5em;
        &:hover {
          background-color: vars.$alter-red;
        }
      }
      &--close {
        padding: 0.5em;
      }
      &--back {
        position: absolute;
        top: 1.2em;
        width: 1.5em;
        height: 1.5em;
        right: 1em;
      }
    }

    &--openned {
      display: flex;
      justify-content: center;
      height: 27.5em;
      border-top-left-radius: 3.5em;
      border-top-right-radius: 3.5em;
      @include color-themes.themed() {
        border: 2px solid color-themes.ask("primary-color");
        border-bottom: none;
      }
      transition: 0.2s ease-in-out;

      .games__side {
        &__btns {
          opacity: 0;
          transform: translateX(-100%);
          transition: 0.2s ease-in-out;
          position: absolute;
        }

        &__filter {
          bottom: auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          height: 100%;
          padding: 3em 2em 0 2em;

          &__btns {
            position: absolute;
            top: -1.8em;
            display: flex;
            width: 250px;
            justify-content: space-around;
          }
          &__btn {
            width: 4em;
            height: 4em;
            padding: 0.5em;
            border-radius: 2em;
            border: 2px solid vars.$red;
            @include color-themes.themed() {
              color: color-themes.ask("secondary-color");
              background-color: color-themes.ask("primary-color");
            }

            &--filter {
              border: 2px solid vars.$gold;
            }
          }

          &--scroll {
            overflow-y: scroll;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
          }

          &__sorting {
            width: 260px;
            height: 3em;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 1em;

            &__btn {
              width: 3em;
              height: 3em;
              padding: 0.5em;
              border-radius: 2em;
              transform: rotateZ(0deg);
              transition: all 0.2s ease-in-out;
              @include color-themes.themed() {
                color: color-themes.ask("secondary-color");
                background-color: color-themes.ask("primary-color");
              }
            }
          }

          &__ctn {
            width: 100%;
            margin-bottom: 0.5em;
          }

          &__type {
            z-index: 2;
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            border-radius: 0.2em;
            padding: 0.2em;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
            @include color-themes.themed() {
              color: color-themes.ask("secondary-text-color");
              background-color: color-themes.ask("primary-color");
            }

            &__icon {
              width: 1.8em;
              height: 1.8em;
              margin: 0 0.3em;
            }

            &__name {
              width: 100%;
              text-transform: uppercase;
              margin: 0 0.25em;
              font-size: 0.8em;
            }
            &__items {
              position: relative;
              display: flex;
              justify-content: space-around;
              border-bottom-left-radius: 0.25em;
              border-bottom-right-radius: 0.25em;
              transform: translateY(-0.2em);
              padding: 0.7em 0.5em;
              box-shadow: 0px 4px 4px rgb(0 0 0 / 30%);
              @include color-themes.themed() {
                color: color-themes.ask("secondary-text-color");
                background-color: color-themes.ask("primary-color");
              }
              .field {
                &__input {
                  text-indent: 0;
                  width: 90%;
                }
              }
            }
          }
        }
      }
    }
    .field {
      padding: 0.2em;
      margin-bottom: 0.5em;
      @include color-themes.themed() {
        color: color-themes.ask("secondary-text-color");
        background-color: color-themes.ask("primary-color");
        &__input {
          color: color-themes.ask("secondary-text-color") !important;
          &::placeholder {
            color: color-themes.ask("secondary-text-color");
          }
        }
      }
    }
  }
}
// Style when on tablet and bigger
@include media.responsive("528px") {
  .games {
    &__list {
      width: 500px;
    }
  }
}
// Style when on tablet and bigger
@include media.responsive("tablet") {
  .games {
    &__side {
      z-index: 2;
      .games__side--openned .games__side__filter--scroll {
        width: 80%;
      }
    }
  }
}
// Style when on tablet and bigger
@include media.responsive("900px") {
  .games {
    margin-top: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    &__list {
      width: 400px;
      height: 100%;
      &--scroll {
        padding-top: 4em;
      }
    }

    .games__side {
      z-index: 0;
      order: -1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      position: relative;
      bottom: unset;
      width: 400px;
      height: 100%;
      border-radius: unset;
      border: none !important;

      &__logo {
        display: block;
        cursor: pointer;
        width: 120px;
        height: 120px;
        margin-top: -120px;
        background-size: contain;
        @include color-themes.themed() {
          background-image: color-themes.ask("logo-full-inverted");
        }
      }

      &__btns {
        opacity: 1;
        width: 100%;
        height: auto;
        position: relative;
        transform: translateX(0);
      }
      &__btn--filter {
        display: none;
      }

      &__filter {
        position: relative;
        bottom: unset;
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 60%;
        padding: 1em 2em 0 2em;

        &--scroll {
          overflow-y: auto;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        &__btns {
          display: none;
        }

        &__sorting {
          width: 260px;
          height: 3em;
          display: flex;
          justify-content: space-around;
          align-items: center;
          margin-bottom: 1em;

          &__btn {
            width: 3em;
            height: 3em;
            padding: 0.5em;
            border-radius: 2em;
            @include color-themes.themed() {
              color: color-themes.ask("secondary-color");
              background-color: color-themes.ask("primary-color");
            }
          }
        }

        .field {
          padding: 0.2em;
          margin-bottom: 0.5em;
          @include color-themes.themed() {
            color: color-themes.ask("secondary-text-color");
            background-color: color-themes.ask("primary-color");
            &__input::placeholder {
              color: color-themes.ask("secondary-text-color");
            }
          }
        }

        &__ctn {
          width: 100%;
          margin-bottom: 0.5em;
        }

        &__type {
          z-index: 2;
          position: relative;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          width: 100%;
          border-radius: 0.2em;
          padding: 0.2em;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
          @include color-themes.themed() {
            color: color-themes.ask("secondary-text-color");
            background-color: color-themes.ask("primary-color");
          }

          &__icon {
            width: 1.8em;
            height: 1.8em;
            margin: 0 0.3em;
          }

          &__name {
            width: 100%;
            text-transform: uppercase;
            margin: 0 0.25em;
            font-size: 0.8em;
          }
          &__items {
            display: flex;
            justify-content: space-around;
            border-bottom-left-radius: 0.25em;
            border-bottom-right-radius: 0.25em;
            transform: translateY(-0.2em);
            padding: 0.7em 0.5em;
            box-shadow: 0px 4px 4px rgb(0 0 0 / 30%);
            @include color-themes.themed() {
              color: color-themes.ask("secondary-text-color");
              background-color: color-themes.ask("primary-color");
            }
            .field {
              &__input {
                text-indent: 0;
              }
            }
          }
        }
      }
    }
  }
}

// Style when on tablet and bigger
@include media.responsive("desktop") {
  .games {
    &__list {
      width: 650px;
      margin-top: 3em;
      margin-right: 4.8em;
      padding: unset;
      &__title {
        margin-right: 3.5em;
      }

      &__game {
        flex-basis: calc(calc(98% / 4) - 0.5em);
        margin: 0.35em;
      }
    }
  }
}
