@use "@/styles/vars";
@use "@/styles/color-themes";
@use "@/styles/utils";
@use "@/styles/responsive-breakpoints" as media;

.menu {
  position: fixed;
  top: 0;
  right: 0;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
  height: 100%;
  transform: translateY(-105%);
  transition: transform 0.2s ease-in-out;

  .themetoggle {
    position: fixed;
    margin: 0;
    top: 1.5em;
    align-self: start;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  &.open {
    transform: translateY(0);
    transition: transform 0.2s ease-in-out;

    @include color-themes.themed() {
      background-color: color-themes.ask("primary-color");
    }

    .themetoggle {
      opacity: 1;
      transition: opacity 0.2s 0.1s ease-in-out;
    }
  }

  &__link {
    margin-bottom: 0.5em;
    font-size: 1.5em;
    transform: scale(1);
    transition: 0.1s ease-in-out;
    cursor: pointer;

    @include color-themes.themed() {
      color: color-themes.ask("secondary-text-color");
    }

    &:hover {
      @include utils.hover(none, 1.05);
    }

    &--active {
      font-weight: 600;
    }
  }
}

@include media.responsive("tablet") {
  .menu {
    height: 100%;
    width: 310px;
    transform: translateX(240px);

    @include color-themes.themed() {
      box-shadow: 10px 0px 8px 1px color-themes.ask("transparent-primary-color")
        inset;
    }

    &.open {
      transform: translateX(0);
    }
  }
}

.menu_toggle {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  z-index: 10;
}

// Burger Icon by https://march08.github.io/animated-burgers/
.burger {
  align-self: end;
  height: 3em;
  width: 3em;
  position: relative;
  font-size: 12px;
  cursor: pointer;
  transition: 0.2s all;

  .burger-lines:after {
    left: 0;
    top: -1em;
  }

  .burger-lines:before {
    left: 1em;
    top: 1em;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    height: 150%;
    width: 150%;
    top: -25%;
    left: -25%;
  }

  .burger-lines {
    top: 50%;
    margin-top: -0.125em;

    &,
    &:after,
    &:before {
      pointer-events: none;
      display: block;
      content: "";
      width: 100%;
      border-radius: 0.25em;
      height: 0.25em;
      position: absolute;
      transform: rotate(0);

      @include color-themes.themed() {
        background-color: color-themes.ask("secondary-text-color");
      }
    }

    &:after {
      left: 0;
      top: -1em;
    }

    &:before {
      left: 1em;
      top: 1em;
    }
  }
}

.burger.burger-squeeze {
  .burger-lines {
    &,
    &:after,
    &:before {
      transition: 0.2s top 0.2s, 0.1s left, 0.2s transform,
        0.4s background-color 0.2s;
    }

    &:after,
    &:before {
      width: 2em;
    }
  }

  &.open {
    .burger-lines {
      &,
      &:after,
      &:before {
        transition: 0.2s background-color, 0.2s top, 0.2s left,
          0.2s transform 0.15s;
      }

      & {
        background-color: transparent;
      }

      &:before,
      &:after {
        left: 0.5em;
        top: 0px;
      }

      &:before {
        transform: rotate(-45deg);
      }

      &:after {
        transform: rotate(45deg);
      }
    }
  }
}
