$grey-blue: hsl(230, 22%, 26%);
$alter-grey-blue: hsl(230, 22%, 21%);
$red: hsl(346, 69%, 51%);
$alter-red: hsl(346, 69%, 46%);
$gold: hsl(36, 100%, 67%);
$beige: hsl(29, 100%, 88%);
$alter-beige: hsl(29, 100%, 83%);
$off-white: hsl(0, 0%, 96%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 2%, 9%);

$accent-color: $red;