$grey-blue: hsl(230, 22%, 26%);
$red: hsl(346, 69%, 51%);
$gold: hsl(36, 100%, 67%);
$beige: hsl(29, 100%, 88%);
$off-white: hsl(0, 0%, 96%);
$white: hsl(0, 0%, 100%);
$black:  hsl(0, 2%, 9%);

 $accent-color: $red;




