@use '@/styles/vars';
@use '@/styles/color-themes';

.app {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @include color-themes.themed() {
    background-color: color-themes.ask('primary-color');
  }
}
