@use "@/styles/vars";
@use "@/styles/color-themes";
@use "@/styles/utils";
@use "@/styles/responsive-breakpoints" as media;

.app {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @include color-themes.themed() {
    background-color: color-themes.ask("primary-color");
  }

  #tooltip {
    z-index: 999;
  }
}
