@use "Styles/vars";
@use "Styles/color-themes";
@use "Styles/utils";
@use "Styles/responsive-breakpoints" as media;

.addgames {
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__input {
    width: 90%;
    margin-top: 4em;
    align-self: center;
    margin-top: 3em;
    position: relative;

    .field {
      &__input {
        color: vars.$off-white;

        &::placeholder {
          color: vars.$off-white;
        }
      }
    }
    &__back {
      position: absolute;
      top: 0.25em;
      width: 1.5em;
      height: 1.5em;
      right: 0.5em;
    }
  }

  &--scroll {
    height: 400px;
    overflow-y: auto;
  }

  &__results {
    color: vars.$off-white;
    display: flex;
    justify-content: center;
    font-size: 0.8em;
    text-transform: uppercase;
    margin-top: 4em;
    font-weight: 600;
  }

  &__pictures {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    &__game {
      position: relative;
      width: 120px;
      height: 120px;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.45);
      border-radius: 10px;
      border: 6px solid vars.$grey-blue;
      margin: 0.2em;

      &__img {
        width: 108px;
        height: 108px;
        border-radius: 0.5em;
        background-color: white;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.45) inset;
      }

      &__overlay {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;

        &--text {
          z-index: 1;
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          padding: 0.2em;
          color: vars.$off-white;
          text-align: center;
          font-weight: 600;
          font-size: 0.9em;
        }
        &--bg {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          opacity: 0.8;
          background-color: vars.$grey-blue;
        }
      }

      &:hover .addgames__pictures__game__overlay {
        opacity: 1;
        transition: opacity 0.2s ease-in-out;
      }
    }
  }
}

// Style when on tablet and bigger
@include media.responsive("tablet") {
  .addgames {
    width: 500px;
    // height: 80%;

    &__input {
      margin-top: 3em;
      width: 80%;
    }

    &__results {
      margin-top: 2em;
      margin-bottom: 1em;
    }

    &__close {
      margin-right: 6.3em;
    }

    &__pictures {
      margin: auto;
      width: 90%;
    }
  }
}

// Style when on tablet and bigger
@include media.responsive("desktop") {
  .addgames {
    width: 600px;
    // height: 70%;
    // margin-top: 1vh;

    &__input {
      width: 70%;
      margin-top: 2em;
    }

    &__close {
      margin-right: 30em;
    }

    &__results {
      margin-bottom: 2em;
    }

    &__pictures {
      width: 70%;
      margin: auto;
    }
  }
}

.singlegame {
  width: 85%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1em;
  margin: auto;
  background-color: vars.$grey-blue;

  &__ctn {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__text {
    color: vars.$off-white;
    width: 90%;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8em;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  &__img {
    width: 200px;
    height: 200px;
    @include color-themes.themed() {
      border: solid 8px color-themes.ask("secondary-color");
    }

    border-radius: 1em;
  }

  &__btn {
    display: flex;
  }

  .appbutton {
    width: 6em;
    margin-top: 1.5em;
    margin-left: 1em;
    margin-right: 1em;

    &--secondary {
      background-color: vars.$beige;
      color: vars.$grey-blue;

      &:hover {
        background-color: vars.$alter-beige;
      }
    }
  }

  &__question {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.8em;
    text-transform: uppercase;
    font-size: 0.8em;
    width: 100%;

    &__answers {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 1em 0 0.5em;
      &__span {
        width: calc(30%);
        &:nth-child(2) {
          text-align: center;
        }
        &:last-child {
          text-align: end;
        }
      }
    }
    &__input {
      width: 100%;
    }
  }
}

@include media.responsive("tablet") {
  .singlegame {
    height: 70%;
  }
}

// Style when on tablet and bigger
@include media.responsive("desktop") {
  .singlegame {
    width: 60%;
    height: 70%;

    &__text {
      width: 60%;
      font-size: 1em;
    }

    &__img {
      width: 200px;
    }

    .appbutton {
      width: 6em;
      margin-top: 1.5em;
      margin-left: 2em;
      margin-right: 2em;
    }
  }
}
