@use "@/styles/vars";
@use "@/styles/color-themes";
@use "@/styles/utils";
@use "@/styles/responsive-breakpoints" as media;

.useraccount {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  border-radius: 1em;
  width: 18em;

  @include color-themes.themed() {
    background-color: color-themes.ask("secondary-color");
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .appbutton {
      width: 80%;
      margin: 1.5em;
    }
  }

  &__title {
    font-size: 22px;

    @include color-themes.themed() {
      color: color-themes.ask("primary-text-color");
    }
  }

  &__email {
    font-size: 0.8em;
    padding: 8px;

    @include color-themes.themed() {
      color: color-themes.ask("primary-text-color");
    }
  }

  &__picture {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 2.5em;

    &__redcircle {
      position: absolute;
      width: 10em;
      height: 10em;
      border: 0.3em solid vars.$red;
      border-radius: 50%;
    }

    &__yellowcircle {
      position: absolute;
      width: 10em;
      height: 10em;
      border: 0.15em solid vars.$gold;
      border-radius: 50%;
    }

    &__img {
      width: 10em;
      height: 10em;
      border-radius: 50%;
      box-shadow: 0 1px 4px hsla(220, 90%, 37%, 0.25);
    }
  }

  &__statistics {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 5em;
    background-color: vars.$red;
    border-radius: 0 0 1em 1em;

    &__gamenumber {
      &__icon {
        height: 2em;
        width: 2em;
        color: vars.$off-white;
      }

      &__number {
        color: vars.$off-white;
        display: flex;
        justify-content: center;
      }
    }

    &__separator {
      background-color: vars.$off-white;
      width: 1px;
      height: 50%;
      border-radius: 1em;
      margin: 0.25em 0;
    }

    &__friendsnumber {
      &__icon {
        height: 2em;
        width: 2em;
        color: vars.$off-white;
      }

      &__number {
        color: vars.$off-white;
        display: flex;
        justify-content: center;
      }
    }
  }
  .field {
    &__input::placeholder {
      font-size: 0.8em;
    }
  }
}

// Style when on tablet and bigger
@include media.responsive("tablet") {
  .useraccount {
    flex-direction: row;
    width: 30em;

    &__picture {
      position: absolute;
      top: -140%;
      bottom: 0;
      pointer-events: none;

      &__redcircle,
      &__yellowcircle,
      &__img {
        width: 13em;
        height: 13em;
        pointer-events: none;
      }
    }

    &__info {
      position: relative;
      align-self: flex-end;

      .appbutton {
        width: 60%;
      }
    }

    &__title {
      font-size: 30px;

      @include color-themes.themed() {
        color: color-themes.ask("primary-text-color");
      }
    }

    &__email {
      font-size: 1.1em;
      padding: 8px;

      @include color-themes.themed() {
        color: color-themes.ask("primary-text-color");
      }
    }

    &__statistics {
      flex-direction: column-reverse;
      height: 22em;
      width: 10em;
      border-radius: 0 1em 1em 0;

      &__friendsnumber {
        &__icon {
          height: 3.5em;
          width: 3.5em;
        }

        &__number {
          font-size: 1.5em;
          padding-top: 0.1em;
        }
      }

      &__gamenumber {
        &__icon {
          height: 3.5em;
          width: 3.5em;
        }

        &__number {
          font-size: 1.5em;
          padding-top: 0.3em;
        }
      }

      &__separator {
        width: 50%;
        height: 1px;
      }
    }
  }
}

.useraccount--register {
  padding: 1.5em;
  display: flex;
  width: 22em;
  position: relative;

  #cloudinary_upload_button {
    z-index: 2;
    top: 9em;
    left: 12.5em;
    background-color: vars.$red;
    color: vars.$off-white;
    transform: scale(1.3);
    transition: transform 0.1s ease-in-out;

    &:hover {
      @include utils.hover(vars.$alter-red, 1.35);
    }
  }

  .useraccount {
    &__close {
      position: absolute;
      width: 2.5em;
      height: 2.5em;
      right: 1.5em;
      transform: scale(1);
      transition: transform 0.1s ease-in-out;

      @include color-themes.themed() {
        color: color-themes.ask("primary-text-color");
      }

      &:hover {
        @include utils.hover(none, 1.1);
      }
    }

    &__picture {
      bottom: 0;
    }

    &__info__edit {
      width: 100%;
    }

    &__buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  }

  .description_input {
    margin-left: 1em;
    padding: 0.8em 0 0.2em;
    align-self: start;
    text-transform: uppercase;
    font-size: 10px;

    @include color-themes.themed() {
      color: color-themes.ask("primary-text-color");
    }
  }

  .appbutton {
    margin-top: 1em;
    font-size: 0.8em;

    &--primary {
      width: 70%;
    }

    &--secondary {
      width: 78%;
    }
  }
}

// Style when on tablet and bigger
@include media.responsive("tablet") {
  .useraccount--register {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 38em;
    height: 22em;
    padding: 2em;

    #cloudinary_upload_button {
      top: unset;
      bottom: 10.5em;
    }

    .useraccount {
      &__close {
        position: absolute;
        top: 0.6em;
      }

      &__picture {
        position: absolute;
        top: 2em;
        left: 5em;

        &__redcircle,
        &__yellowcircle,
        &__img {
          width: 10em;
          height: 10em;
        }
        &__edit {
          right: 0;
          top: 1em;
          pointer-events: visible;
        }
      }

      &__info__edit {
        display: flex;
        flex-direction: column;
        width: 50%;
      }
      &__buttons {
        position: absolute;
        width: 50%;
        left: 0;
        bottom: 2.7em;
      }
    }
  }
}
