@use "@/styles/vars";
@use "@/styles/color-themes";
@use "@/styles/utils";
@use "@/styles/responsive-breakpoints" as media;

.useraccount {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  border-radius: 1em;
  width: 18em;

  @include color-themes.themed() {
    background-color: color-themes.ask("secondary-color");
  }

  &__title {
    font-size: 22px;

    @include color-themes.themed() {
      color: color-themes.ask("primary-text-color");
    }
  }

  &__email {
    font-size: 0.8em;
    padding: 8px;

    @include color-themes.themed() {
      color: color-themes.ask("primary-text-color");
    }
  }

  &__btn {
    @include color-themes.themed() {
      background-color: color-themes.ask("primary-color");
      color: color-themes.ask("secondary-color");
      &:hover {
        @include utils.hover(color-themes.ask("primary-alter-color"), 1.01);
      }
    }

    text-transform: uppercase;
    box-shadow: 0 1px 4px hsla(220, 90%, 37%, 0.25);
    width: 80%;
    height: 2.5em;
    transition: 0.2s ease-in-out;
    border-color: transparent;
    border-radius: 0.25em;
    margin: 32px;
  }

  &__picture {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 2.5em;

    &__redcircle {
      position: absolute;
      width: 10em;
      height: 10em;
      border: 0.3em solid vars.$red;
      border-radius: 50%;
    }

    &__yellowcircle {
      position: absolute;
      width: 10em;
      height: 10em;
      border: 0.15em solid vars.$gold;
      border-radius: 50%;
    }

    &__img {
      width: 10em;
      height: 10em;
      border-radius: 50%;
      box-shadow: 0 1px 4px hsla(220, 90%, 37%, 0.25);
    }
  }

  &__statistics {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 5em;
    background-color: vars.$red;
    border-radius: 0 0 1em 1em;

    &__gamenumber {
      &__icon {
        height: 2em;
        width: 2em;
        color: vars.$off-white;
      }

      &__number {
        color: vars.$off-white;
        display: flex;
        justify-content: center;
      }
    }

    &__seperator {
      background-color: vars.$off-white;
      width: 1px;
      height: 50%;
      border-radius: 1em;
      margin: 0.25em 0;
    }

    &__friendsnumber {
      &__icon {
        height: 2em;
        width: 2em;
        color: vars.$off-white;
      }

      &__number {
        color: vars.$off-white;
        display: flex;
        justify-content: center;
      }
    }
  }
}

.useraccount--register {
  padding: 1.5em;
  display: flex;
  width: 22em;
  position: relative;

  .useraccount {
    &__close {
      position: absolute;
      width: 2.5em;
      height: 2.5em;
      right: 1.5em;
      transform: scale(1);
      transition: transform 0.1s ease-in-out;

      @include color-themes.themed() {
        color: color-themes.ask("primary-text-color");
      }

      &:hover {
        @include utils.hover(none, 1.1);
      }
    }

    &__picture {
      bottom: 0;

      &__edit {
        position: absolute;
        background-color: vars.$red;
        color: vars.$off-white;
        border-radius: 1em;
        padding: 0.2em;
        width: 2em;
        height: 2em;
        bottom: 0.5em;
        right: 0.5em;
        transform: scale(1);
        transition: transform 0.1s ease-in-out;
        &:hover {
          @include utils.hover(vars.$alter-red, 1.05);
        }
      }
    }
  }

  .description_input {
    margin-left: 1em;
    padding: 0.8em 0 0.2em;
    align-self: start;
    text-transform: uppercase;
    font-size: 10px;

    @include color-themes.themed() {
      color: color-themes.ask("primary-text-color");
    }
  }

  .userform__btn {
    margin-top: 1em;
    font-size: 0.8em;

    &--primary {
      width: 70%;
    }
    &--secondary {
      width: 78%;
    }
  }
}
