@use "@/styles/vars";
@use "@/styles/color-themes";

.modal {
  position: absolute;
  z-index: 1000;
  width: auto;
  max-height: 600px;
  border-radius: 1em;
  box-shadow: rgb(189 163 163 / 35%) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  background-color: vars.$grey-blue;
  color: vars.$off-white;

  &__close {
    position: absolute;
    width: 2.5em;
    height: 2.5em;
    right: 2em;
    z-index: 1;
  }
}

#modal_background {
  z-index: 100;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

* html #modal_background {
  position: absolute;
}
