@use "@/styles/vars";
@use "@/styles/color-themes";
@use "@/styles/utils";
@use "@/styles/responsive-breakpoints" as media;
.home {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10vh;
  margin-bottom: 5vh;
  overflow: auto;
}
.userform {
  width: 100%;
  height: 50%;
  padding: 2em 3em;
  display: flex;
  align-items: center;
  justify-content: center;

  @include color-themes.themed() {
    background-color: color-themes.ask("secondary-color");
  }

  &__ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 300px;

    &--login {
      height: 250px;
    }

    &--register {
      height: 320px;
    }

    &__link {
      all: unset;
      font-size: 0.8em;

      @include color-themes.themed() {
        color: color-themes.ask("primary-text-color");
      }
    }
  }

  &__seperator {
    display: flex;
    width: 60%;
    align-items: center;
    @include color-themes.themed() {
      color: color-themes.ask("primary-text-color");
    }

    &__lign {
      background-color: vars.$red;
      width: 40%;
      height: 1px;
      border-radius: 1em;
      margin: 0.25em 0.5em;
    }
  }
}

.presentation {
  width: 100%;
  height: 30%;
  padding: 1.5em;
  margin: auto;
  margin-bottom: 2em;
  @include color-themes.themed() {
    color: color-themes.ask("secondary-text-color");
  }

  &__logo {
    width: 300px;
    height: 20%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    @include color-themes.themed() {
      background-image: color-themes.ask("logo-full");
    }
    &--desktop {
      display: none;
    }
  }

  &__text {
    text-align: justify;
    &__title {
      font-weight: 700;
      padding: 0.1em;
    }
    &__first {
      margin-top: 0.5em;
    }
    &__second {
      margin-top: 0.5em;
      font-weight: 700;
    }
  }
}

// Style when on tablette and bigger
@include media.responsive("tablet") {
  .home {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    overflow: hidden;
  }

  .userform {
    width: 50%;
    height: 100%;
    align-self: start;
    display: flex;
    align-items: center;
    z-index: 5;
    padding: 2em;
  }
  .presentation {
    max-width: 60%;
    height: 100%;
    padding: 0 5em 0 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &__logo--mobile {
      display: none;
    }
    &__logo--desktop {
      display: block;
    }
    &__text {
      width: 80%;
      text-align: center;
    }
  }
}

// Style when on desktop
@include media.responsive("desktop") {
  .userform {
    width: 512px;
    padding: 4em;
  }
}
