@use "@/styles/vars";
@use "@/styles/color-themes";
@use "@/styles/utils";
@use "@/styles/responsive-breakpoints" as media;

.contact {
  width: 100%;
  height: 100%;
  margin-top: 70px;
  overflow: auto;

  @include color-themes.themed() {
    background-color: color-themes.ask("primary-color");
  }

  &__separator {
    background-color: vars.$red;
    width: 50%;
    height: 1px;
    margin: auto;
  }

  // Team part:
  &__team {
    &__title {
      text-align: center;
      font-size: 22px;
      margin: 1.5em 0;

      @include color-themes.themed() {
        color: color-themes.ask("secondary-text-color");
      }
    }

    &__description {
      text-align: center;
      font-size: 12px;
      padding: 10px;

      @include color-themes.themed() {
        color: color-themes.ask("primary-text-color");
      }
    }

    &__card {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 10em;
      height: 12em;
      border-radius: 1em;
      margin-bottom: 3em;

      @include color-themes.themed() {
        background-color: color-themes.ask("secondary-color");
      }
    }

    &__ctn {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    &__picture {
      position: absolute;
      display: flex;
      justify-content: center;
      top: -1.2em;
      left: 50%;
      transform: translate(-50%, -50%);

      &__border {
        width: 8em;
        height: 8em;
        border-radius: 50%;
        background-color: white;
        border: 0.25em solid vars.$red;
        position: absolute;
        &::after {
          content: " ";
          position: absolute;
          border-radius: 5em;
          width: 8.15em;
          height: 8.15em;
          top: -0.35em;
          left: -0.3em;
          border: 2px solid vars.$gold;
        }
      }

      &__img {
        position: absolute;
        top: -13px;
        left: -69px;
        width: 8.7em;
        height: 8.8em;
        border-radius: 50%;
        clip-path: ellipse(45% 48% at 50% 50%);
        box-shadow: 0 1px 4px hsla(220, 90%, 37%, 0.25);
      }
    }

    &__links {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
      height: 2.5em;
      background-color: vars.$red;
      border-radius: 0 0 1em 1em;
      color: white;

      &__mail,
      &__github,
      &__linkedin {
        height: 1.2em;
        width: 1.2em;
      }
    }
  }

  // Form part:
  &__form {
    width: 90%;
    margin: auto;

    &__title {
      text-align: center;
      font-size: 22px;
      margin: 1.5em 0;

      @include color-themes.themed() {
        color: color-themes.ask("secondary-text-color");
      }
    }

    &__section {
      border-radius: 1em;
      padding-top: 1em;
      margin-bottom: 1em;
      padding-bottom: 1em;

      @include color-themes.themed() {
        background-color: color-themes.ask("secondary-color");
      }

      .appbutton {
        width: 40%;
        height: 1.8em;
        margin: auto;
        display: flex;
        align-items: center;
      }

      .field {
        width: 90%;
        margin: auto;
        margin-bottom: 0.8em;
      }
    }
  }
}
