@use "@/styles/vars";
@use "@/styles/color-themes";
@use "@/styles/utils";
@use "@/styles/responsive-breakpoints" as media;

.dashboard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  overflow: auto;

  &__title {
    text-align: center;
    font-size: 22px;

    @include color-themes.themed() {
      color: color-themes.ask("secondary-text-color");
    }
  }

  &__separator {
    background-color: vars.$red;
    width: 30%;
    height: 1px;
  }

  &__cards {
    width: 60%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__card {
    width: 10em;
    height: 12em;
    background-color: vars.$grey-blue;
    border: 2px solid vars.$red;
    border-radius: 0.5em;

    &--dust {
      order: 2;
    }
  }

  &__widget {
    display: flex;
    &__games {
      display: flex;
    }
  }
}
