@use '@/styles/vars';
@use '@/styles/color-themes';

.themetoggle {
    width: 3.3em;
    height: 2em;
    border-radius: 1em;
    display: flex;
    align-items: center;
    box-shadow: inset 2px 2px 4px 0px rgb(0 0 0 / 60%), rgba(0, 0, 0, 0.327) 0px 1px 4px;


    // Mixin from _color-themes.sccs allows theme switching   
    @include color-themes.themed() {
        background-color: color-themes.ask('secondary-color');
    }

    &__switch {
        width: 1.6em;
        height: 1.6em;
        border-radius: 1em;
        padding: 0.25em;
        color: vars.$off-white;
        background-color: vars.$red;
        margin: 0 0.25em 0.05em;

        @include color-themes.themed() {
            animation: color-themes.ask('theme-toggle');
        }
    }
}


@keyframes toggleOn {
    from {
        transform: translateX(0)
    }

    to {
        transform: translateX(1.3em)
    }
}

@keyframes toggleOff {
    from {
        transform: translateX(1.3em)
    }

    to {
        transform: translateX(0)
    }
}